template
pre-proposal/*.aux
pre-proposal/*.bbl
pre-proposal/*.blg
pre-proposal/*.fdb_latexmk
pre-proposal/*.fls
pre-proposal/*.log
pre-proposal/*.out
pre-proposal/*.pdf
pre-proposal/*.synctex.gz
pre-proposal/*.soc
pre-proposal/*.loc
